.nav {
    background-color: royalblue;
    padding: 20px 50px;
}

.nav .list_nav {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 16px;
}

.nav a {
    color: #fff;
    text-decoration: none;
}

.nav .logoutBtn {
    margin-left: 20px;
    padding: 6px 12px;
    border-radius: 10px;
    background-color: teal;
    border: none;
    color: #fff;
    cursor: pointer;
}

.nav .img {
    margin-top: 20px;
    width: 150px;
    transition: filter 0.5s ease-in-out;
}

.nav .img {
    position: relative;
    overflow: hidden;
    transition: transform 0.4s ease-out;
}

.nav .img:hover {
    transform: scale(1.2);
}