@font-face {
    font-family: 'Pretendard';
    src: url('/public/assets/fonts/Pretendard-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PretendardMid';
    src: url('/public/assets/fonts/Pretendard-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}